---
layout: default
title: Home
#url: "https://purnatag.github.io"
---

<div class="page">
  <!--<h1 class="page-title">{{ page.title }}</h1>-->
  <!--{{ content }}-->
  <h2>About Me</h2>
  <p>I work in computational complexity theory and just completed my PhD from IIT Madras, India. 
     My PhD supervisor was <a href="http://www.cse.iitm.ac.in/~bvrr/">B. V. Raghavendra Rao</a> and I was a 
     part of the vibrant <a href="http://theory.cse.iitm.ac.in/">Algorithms and Complexity Theory group</a> there.
     Find my resume <a href="/files/purnata-cv.pdf">here</a>.</p> 

  <p><b>Email me :</b> purnata[at]cse[dot]iitm[dot]ac[dot]in</p>

  <h2>Publications</h2>
  <ul>
  <li><em>On Lower Bounds and PIT for Parameterized Algebraic Models</em>, Purnata Ghosal, <em>PhD Thesis</em> 
      submitted as part of the MS-PhD Dual Degree programme at IIT Madras, India.
      <a href="/files/thesis.pdf">View here.</a></li>

  <li><em>A note on parameterized polynomial identity testing using hitting set generators</em>, Purnata Ghosal, 
      B. V. Raghavendra Rao, Inf. Process. Lett. vol. 151 (2019). 
      <a href="/files/svgen.pdf">View here.</a></li>

  <li><em>On Proving Parameterized Size Lower Bounds for Multilinear Algebraic Models</em>, Purnata Ghosal, 
      B. V. Raghavendra Rao, COCOON 2019. 
      <a href="/files/para-mlin.pdf">View here.</a></li>

  <li><em>On Constant Depth Circuits Parameterized by Degree: Identity Testing and Depth Reduction</em>, Purnata Ghosal,
      Om Prakash, B. V. Raghavendra Rao, COCOON 2017. 
      <a href="/files/para-arith.pdf">View full version here.</a></li>
  </ul>
</div>








<!--<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>-->

<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->